<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<style>

</style>
</head>

<body>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/upload">Upload Files</a>

    </div>
    <!-- <%=dataUser%> -->
    <div style="padding-left:16px">
        <h2>Top Navigation Example</h2>
        <p>Some content..</p>
    </div>

    <div class="w3-container">


        <table class="w3-table  w3-striped w3-border w3-hoverable" a>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Data</th>
            </tr>

            <tbody>
                <tr>
                    <% for(var i=0; i < dataUser.length; i++) { %>
                <tr>
                    <td>
                        <%= dataUser[i].id %>
                    </td>
                    <td>
                        <%= dataUser[i].firstName %>
                    </td>
                    <td>
                        <%= dataUser[i].lastName %>
                    </td>
                    <td> <button><a href="/detail/user/<%=dataUser[i].id%>">Detail</a></button>

                        <form method="get" action="/edit-user/<%=dataUser[i].id%>">


                            <button type="submit">Edit</button>
                        </form>
                        <form action="/delete-user" method="POST">
                            <button style="cursor: pointer;" type="submit">Delete</button>
                            <input type="text" hidden name="userId" value="<%=dataUser[i].id%> ">
                        </form>
                    </td>

                </tr>

                <% } %>
                    </tr>

            </tbody>
        </table>
        <!-- create a form that u can add some user into -->
        <div class="form_container">

            <form action="/create-new-user" method="post">
                <div class="wrapper">
                    <label for="">First Name</label>
                    <input class="input" name="firstName" type="text">
                </div>
                <div class="wrapper">
                    <label for="">Last Name</label>
                    <input class="input" name="lastName" type="text">
                </div>
                <div class="wrapper">
                    <label for="">Email</label>
                    <input class="input" name="email" type="email">
                </div>
                <div class="wrapper">
                    <label for="">Address</label>
                    <input class="input" name="address" type="text">
                </div>
                <div class="wrapper">
                    <div class="btn-submit"><button class="input submit" type="submit">Submit</button></div>
                </div>

            </form>
        </div>



    </div>

</body>

</html>